.con>nav {
    margin-left: 336px !important;
}

main {
    height: 2100px;
    background-color: #F7F7F7;
    position: relative;
}

.content {
    width: 65%;
    height: 2250px;
    margin: 0 auto;
}

.content ul {
    width: 100%;
}

.content ul li {
    border: 1px solid rgb(222, 219, 219);
    border-radius: 10px;
    width: 220px;
    height: 210px;
    background-color: #fff;
    float: left;
    margin: 20px 10px 0 10px;
    padding-bottom: 15px;
    position: relative;
}

.content ul li>img {
    position: absolute;
    bottom: -10px;
    left: 0;
}

.content ul li a img {
    width: 220px;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content ul li .info {
    font-size: 14px;
}

.content ul li .info p {
    margin: 5px 0 0 10px;
}

.content ul li .info p span {
    font-size: 12px;
    color: rgb(171, 170, 170);
    display: block;
    margin-top: 10px;
}

.content ul li .info .fix {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 13px;
}

.content ul li .info .fix .price {
    float: left;
    margin-left: 10px;
    color: #fe5341;
}

.content ul li .info .fix .icon {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: rgb(171, 170, 170);
}

.content ul li .info .fix .icon .xin {
    padding-left: 15px;
    background: url(../img/xin.png) no-repeat 0px 3px;
}

.content ul li .info .fix .icon .look {
    padding-left: 15px;
    background: url(../img/reply.png) no-repeat 0px 3px;
}